<footer>
    <article>
      <h1>Pagá con tarjeta o en efectivo</h1>
      <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
        pago. ¡Y siempre es seguro!</p>
    </article>
    <article>
      <h1>Envío gratis desde los $ 2.500</h1>
      <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de MercadoPuntos.</p>
    </article>
    <article>
      <h1>Seguridad, de principio a fin</h1>
      <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
        porque estás siempre prtegid@.</p>
    </article>
    <div>
      <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
  </footer>