<header id="encabezado">
    <img src="/images/logo-mercado-liebre.svg" alt="">
    <p>Buscar productos, marcas y más.</p>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <nav id="navegacion">
      <ul>
        <li><a href="*">Todos los productos</a></li>
        <li><a href="*">Ofertas</a></li>
        <li><a href="*">Tiendas Oficiales</a></li>
        <li><a href="*">Vender</a></li>
        <li><a href="*">Ayuda</a></li>
      </ul>
      <ul>
        <li><a href="*">Creá tu cuenta</a></li>
        <li><a href="*">Ingresá</a></li>
        <li><a href="*">Mis compras</a></li>
      </ul>
    </nav>

  </header>