<header id="encabezado">
    <div>
        <div class="d-flex f-dir-r">
            <div class="f-grow1">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>
            <div class="f-grow1">
                <input type="search" placeholder="Buscar productos, marcas y más.">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>        
    <div>
        <i class="fas fa-hand-holding-usd"></i>
        <p class="parragraph">Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav class="d-flex jcont-c" id="navegacion">
        <div class="container-nav">
            <div class="d-flex j-cont-c b-b icono_nav">
                <i class="fas fa-bars"></i>
            </div>            
            <div class="nave">
                <ul>
                    <li><a href="/">Todos los productos</a></li>
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/">Tiendas Oficiales</a></li>
                    <li><a href="/">Vender</a></li>
                    <li><a href="/">Ayuda</a></li>
                  </ul>
                  <br>
                  <ul>
                    <li><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="/">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                  </ul>
            </div>            
        </div>
    </nav>
  </header>