<!DOCTYPE html>
<html>
  <%- include('partials/head', {title: 'Inicio'}) %>
  
  <body>
    <%- include('partials/headerNavbar') %>
    
    <section id="banner">
      <img src="/images/img-home-banner.jpg" alt="">
    </section>
    <main>

    </main>
    <section>

    </section>
    <section>

    </section>
    <%- include('partials/footer') %>
  </body>
</html>
