<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="encabezado">
      <img src="/images/logo-mercado-liebre.svg" alt="">
      <p>Buscar productos, marcas y más.</p>
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
      <nav id="naegacion">
        <ul>
          <li><a href="*">Todos los productos</a></li>
          <li><a href="*">Ofertas</a></li>
          <li><a href="*">Tiendas Oficiales</a></li>
          <li><a href="*">Vender</a></li>
          <li><a href="*">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="*">Creá tu cuenta</a></li>
          <li><a href="*">Ingresá</a></li>
          <li><a href="*">Mis compras</a></li>
        </ul>
      </nav>

    </header>
    <section id="banner">
      <img src="/images/img-home-banner.jpg" alt="">
    </section>
    <main>

    </main>
    <section>

    </section>
    <section>

    </section>
  </body>
</html>
