/* Global */

:root{
  --Amarillo: #EAC926;
  --Azul: #03264C;
  --Celeste: #1259c3;
  --Gris_oscuro: #666;
  --Gris_claro: #ebebeb;
  --Verde: #39b54a;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Body */

body {
  background-color: var(--Gris_claro);
}


.titles {
  font-size: 24px;
  color: var(--Gris_oscuro);
  margin: 20px 15px
}
.parragraph {font-size: 12px;}
.price {
  font-size: 18px;
  padding: 20px;
}
.discount {
  font-size: 16px;
  color: var(--Verde);
  padding: 20px
}
.description {
  font-size: 16px;
  color: var(--Gris_oscuro);
  padding: 0 20px
}

/* Header */

#encabezado {
  background-color: var(--Amarillo);
}

.w50 {width: 50%;}
.w100 {width: 100%;}
.nave {display: none;}
.d-flex {display: flex;}
.f-grow {flex-grow: 1;}
.f-dir-c {flex-direction: column;}
.jcont-c {justify-content: center;}
.b-b {box-sizing: border-box;}
.icono_nav {
  width: 40px;
  height: 40px;
  background-color: #0044AA;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}

/* Navbar */

#navegacion :hover .nave {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

.nave ul{
  list-style-type: none;
  
  text-align: center;
  
}

/* Main */

#principal {
  background-color: var(--Gris_claro);
  
  margin: 20px;
}
.art {background-color: white;}
.truck {
  color: var(--Verde);
  padding: 20px;
}
.truck i {    
  border: 1px solid;
  padding: 5px;
  border-radius: 30px;
}

/* Footer */

#pie {
  background-color: white;
}

.ico {
  color: var(--Celeste);
  margin: 20px;
}

.copy {
  margin: 20px;
}

/* Register */

.form-register {margin: 20px;}
.section1 input {
  display: block;
  margin: 20px 0 ;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
}
.section2 input {
  margin: 20px;
}
.section3 {
  margin: 20px 0;
}
.section3 input {
  display: block;
  margin: 20px 0 ;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
}
.section5 input {
  display: block;
  margin: 20px 0 ;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
}


/* Login */

.form-login {margin: 20px;}
.section4 input {
  display: block;
  margin: 20px 0 ;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
}

.boton-enviar {
  background-color: #0044AA;
  color: white;
}

.boton-enviar:hover {
  background-color: #0022AA;
}

.boton-borrar {
  background-color: #AA0044;
  color: white;
}

.boton-borrar:hover {
  background-color: #CC1155;
}