:root{
  --Amarillo: #EAC926;
  --Azul: #03264C;
  --Celeste: #1259c3;
  --Gris_oscuro: #666;
  --Gris_claro: #ebebeb;
  --Verde: #39b54a;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: white;
}

.titles {
  font-size: 24px;
  color: var(--Gris_oscuro);
  margin: 20px 15px
}
.parragraph {font-size: 12px;}
.price {
  font-size: 18px;
  padding: 20px;
}
.discount {
  font-size: 16px;
  color: var(--Verde);
  padding: 20px
}
.description {
  font-size: 16px;
  color: var(--Gris_oscuro);
  padding: 0 20px
}


#encabezado {
  background-color: var(--Amarillo);
}

.w50 {width: 50%;}
.w100 {width: 100%;}
.nave {display: none;}
.d-flex {display: flex;}
.f-grow {flex-grow: 1;}
.f-dir-c {flex-direction: column;}
.jcont-c {justify-content: center;}
.b-b {box-sizing: border-box;}
.icono_nav {
  width: 40px;
  height: 40px;
  background-color: #0044AA;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}
#navegacion :hover .nave {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

.nave ul{
  list-style-type: none;
  
  text-align: center;
  
}

#principal {
  background-color: var(--Gris_claro);
  
  margin: 20px;
}
.art {background-color: white;}
.truck {
  color: var(--Verde);
  padding: 20px;
}

#pie {
  margin: 20px;
}

.ico {
  color: var(--Celeste);
  margin: 20px;
}

.copy {
  margin: 20px;
}